
.header {
    min-height: 100px;
    background-color: violet;
    text-align: center;
}

.wrapper{
    overflow: hidden;
    border: 15px ghostwhite;
}

.squre {
    overflow: hidden;
}

.squre1 {
    min-height: 100px;
    background-color:darkgray ;
    width: 50%;
    float: left;
    text-align: center;
    
}


.squre2 {
    min-height: 100px;
    background-color: darksalmon ;
    width: 50%;
    float: right;
    text-align: center;
}




.contact {
    min-height: 100px;
    background-color: yellow;
    width: 33.33%;
    float: left;
    text-align: center;
}


.blog {
    min-height: 100px;
    background-color: green;
    width: 33.33%;
    float: left;
    text-align: center;
}

.feature {
    min-height: 100px;
    background-color: darkred;
    width: 33.33%;
    float: left;
    text-align: center;
}



.footer {
    min-height: 100px;
    background-color: darkcyan;
    text-align: center;
}
